/* En: src/vistas/admin/productos/FormularioProducto.css */

.formulario-producto-card {
  max-width: 800px; /* Un poco más ancho para la descripción */
  margin: 0 auto; /* Lo centra en la página */
}

.formulario-producto-card .form-label {
  font-weight: bold;
  font-size: 1.4rem;
}