/* src/componentes/Cuerpo/Usuario/HomeUsuario.css */

/* 1. Contenedor Principal (Home) */
.home {
    display: flex;
    align-items: center;
    /* Ocupa el espacio restante de la vista debajo del Navbar */
    min-height: calc(100vh - 9rem); 
    background-size: cover;
    background-position: center;
    padding: 2rem 9%; /* Espacio interno, si no lo pusiste en global */
}

/* 2. Contenido (Texto) */
.home .contenido {
    max-width: 50%;
    margin-right: 50px;
}

.home .contenido h3 {
    font-size: 6rem;
    -webkit-text-stroke: 2px #ffffff;
    color: var(--colorTexto, #000000);
    text-align: justify;
    line-height: 1;
}

.home .contenido span {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--colorUso, #ec3030);
    -webkit-text-stroke: 0.9px var(--colorTexto, #000000);
    padding: 1rem 0;
    line-height: 1.5;
    display: block;
    text-align: justify;
}

.home .contenido p {
    font-size: 1.8rem;
    color: var(--colorTexto, #242323);
    -webkit-text-stroke: 0.15px rgb(255, 255, 255);
    padding: 1rem 0;
    line-height: 1.5;
    font-weight: bold;
    text-align: justify;
}

/* 3. Botón */
.home .contenido .btn {
    margin-top: 1rem;
}


/* 4. Imagen */
.contenedorImagen {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagenportada {
    max-width: 405px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}